@using MuSu.Data
@using System.Linq

@model List<Song>

@{
    ViewData["Title"] = "Recommendation";
    var random = new Random();
    var randomSong = Model != null && Model.Any() ? Model[random.Next(Model.Count)] : null;
}

<div class="text-center">
    <h1 class="display-3">Your Recommendation</h1>

    @if (randomSong != null)
    {
        <p style="font-size: 1.5rem; padding-bottom: 50px;"><strong>@randomSong.SongTitle</strong> - @randomSong.Artist?.ArtistName</p>
        <p>Open In:</p>

        <div class="d-flex justify-content-center gap-3">
            @if (!string.IsNullOrEmpty(randomSong.YouTubeUrl))
            {
                <form action="@randomSong.YouTubeUrl" method="get" target="_blank">
                    <button type="submit">YouTube</button>
                </form>
            }

            @if (!string.IsNullOrEmpty(randomSong.SpotifyUrl))
            {
                <form action="@randomSong.SpotifyUrl" method="get" target="_blank">
                    <button type="submit">Spotify</button>
                </form>
            }

            @if (!string.IsNullOrEmpty(randomSong.AppleMusicUrl))
            {
                <form action="@randomSong.AppleMusicUrl" method="get" target="_blank">
                    <button type="submit">Apple Music</button>
                </form>
            }
        </div>
    }
    else
    {
        <p>No recommendations available for the selected moods.</p>
    }

    <form action="/Home/Genre" method="get" style="padding-top: 60px;">
        <button type="submit" class="large-button">Get More Suggestions</button>
    </form>
</div>
